@model lab_5_ASP_MVC.Models.Flight

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FlightId" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceDeparture" class="control-label"></label>
                <input asp-for="PlaceDeparture" class="form-control" />
                <span asp-validation-for="PlaceDeparture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceArrival" class="control-label"></label>
                <input asp-for="PlaceArrival" class="form-control" />
                <span asp-validation-for="PlaceArrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightTime" class="control-label"></label>
                <input asp-for="FlightTime" class="form-control" />
                <span asp-validation-for="FlightTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AircraftId" class="control-label"></label>
                <select asp-for="AircraftId" class="form-control" asp-items="ViewBag.AircraftId"></select>
                <span asp-validation-for="AircraftId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
