<!DOCTYPE html>
<html>
    <head>
        <title>Это частичное представление</title>
    </head>
    <body>
        <h1>Это частичное представление</h1>
        @Html.ActionLink("Aircrafts", "Index")
    </body>
</html>
